.editor{
    font-size: 12px;
    --table-row-striping-color: #edf6ff;
    --table-header-background-color: #cfe0f3;
}
.editor table, table td, th { 
    border: .5px solid var(--border-color);
}

.editor table th{
   background-color: var(--table-header-background-color);
}

.editor .row-striping tr:nth-child(odd) > td{
    background-color: var(--table-row-striping-color) !important;
}

.editor .freeze-first-column tr>td:first-child,
.editor .freeze-first-column tr>th:first-child {
    position: sticky;
    left: 0;
    border-right-width: 1.5px;
    z-index: 1;
}
.editor .freeze-first-row tr:nth-of-type(1) > td,
.editor .freeze-first-row tr:nth-of-type(1) > th {
    position: sticky;
    top: 0;
    border-bottom-width: 1.5px;
    z-index: 1;
}

.editor a > span {
    color: steelblue;
    text-decoration: none;
    cursor: pointer;
}
.editor a:hover > span {
    text-decoration: underline;
}

